langchain
dotenv
langchain-core
langchain-community
streamlit
langchain-openai
langchain-ollama
langchain-groq
langchain-huggingface
duckduckgo-search
pymupdf
arxiv
wikipedia
ipykernel
faiss-cpu
openai
validator=0.28.1
youtube-transcript-api
unstructured
pytube
numexpr
huggingface-hub
